[Unit]
Description=Aporia display manager
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty1.service

[Service]
Restart=on-success
RestartSec=0.1
Type=idle
ExecStart=/bin/aporia
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
Alias=display-manager.service
